/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0px 3px 0px 3px;
 }

body {
  background-color: #ADEFD1FF;
  color: #00203FFF;
}

img {
  display: block;
  width: 150px;
}

label {
  width: 200px;
}

#welcome_page {
  border: 3px solid green;
  padding: 20px;
  text-align: center;
  width: 50%;
}

.view_links {
  border: 3px solid black;
  padding: 3px;
  background-color: black;
  color: white;
}

.link_margin {
  margin-top: 5px;
}

.navbar {
  background-color: #00203FFF;
  margin: 0px;
}

.navbar a {
  color: #ADEFD1FF;
}

div.welcome{
    height: 10em;
    position: relative }

div.welcome h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
